body {
    font-family: 'Comic Sans MS', cursive;
    margin: 0;
    padding: 0;
    background-color: #fff9c4;
}

.header {
    background-color: #ff9800;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
.menu a:hover{
    color:black;
}
.main-content {
    padding: 20px;
    text-align: center;
}
.main-content button{
    width: 160px;
    height: 40px;
    background-color:#ff9800 ;
    border-radius: 6px;
}
.main-content button:hover{
    background-color: #c3b42a ;
    width: 160px;
}

.art-placeholder {
    width: 280px;
    height: 220px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.art-placeholder img{
    width: 200px;

}
.footer {
    background-color: #795548;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}